// variable 
$color-blue-1: #198754;
$color-blue-2: #1d365e;
$color-white-1: #F5F5F7;
$color-white-2: #f5f9fe;
$color-secondary : #87194C;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//header
header{
    .navbar {
        background-color: $color-blue-1 !important;
    }
    
    .navbar-brand {
        font-size: 32px;
        font-weight: bold;
        color: white;
        &:hover{
            color: $color-secondary !important;
        }
    }

    .nav-item{
        .active{
            color: $color-secondary !important;
        }
        a{
            color: white !important;
            position: relative;
            margin-left: 20px;
            &:hover{
                color: $color-secondary !important;
                transition: 0.3s;
            }
            // before on/off
            // &::before{
            //     content: "";
            //     position: absolute;
            //     width: 0%;
            //     height: 2px;
            //     background-color: $color-secondary;
            //     bottom: 0px;
            //     left: 50%;
            //     transform: translateX(-50%);
            //     transition: 0.3s;
            // }
            // &:hover::before,
            // &.active::before{
            //     width: 100%;
            // }
        }
    }

    #button_cart{
        &:hover{
            color: $color-secondary;
        }
    }
}

//banner
#banner {
    background: linear-gradient(rgb(25, 135, 84, 0.8), rgb(135, 25, 76, 0.8)), url(../asset/img/img_user/peakpx.jpg);
    background-size: fit;
    // background-repeat: no-repeat;
    background-position: center;
    color: white;
    // .banner_left{
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    // }
    h3{
        margin: 20px 0px;
    }
}
//show product
#show_product {
    #chon_type{
        margin-bottom: 20px;
    }
    .show_item{
        h3{
            margin-bottom: 20px;
        }
    }
}

//footer
footer {
    background: linear-gradient(rgb(25, 135, 84, 0.8), rgb(135, 25, 76, 0.8));
    color: white;
    ul {
        list-style-type: none;
        padding-left: 0;
        li{
            margin: 8px 0;
        }
        a{
            text-decoration: none;
            color: white;
            &:hover{
                transition: 0.2s;
                color: $color-secondary;
            }
            i{
                margin-right: 10px;
            }
        }
    }
}